/* Blog posts styling */
body {
    width: 100%;
    max-width: 500px;
    margin: auto;
}
#posts div {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#posts h3 {
    color: #007BFF;
}

#posts p {
    margin: 5px 0;
}

#posts small {
    color: #666;
}
