/* General body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    background-color: #fff;
}

/* Header styles */
nav {
    position: fixed; /* Positions the header out of the normal flow, relative to nearest positioned ancestor */
    top: 0; /* Aligns the header at the top */
    right: 0; /* Aligns the header at the right */
    padding: 10px; /* Adds some spacing around the buttons */
    z-index: 100; /* Ensures the header is above other content */
}

/* Button styles */
button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Dark mode styles */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode button {
    background-color: #555;
}

.dark-mode a{
    color: white;
}

footer {
    margin-top: 20px;
    text-align: center;
}
